<div class="container-fluid">
  <div class="row justify-content-around align-content-center">
    <div class="col-3" *ngFor="let Product of ListOfProducts">
      <div class="card text-light">
        <div class="card-body">
          <h5 class="card-title justify-content-center">{{ Product.Name }}</h5>
          <p class="card-text justify-content-center text-primary fw-bold">{{Product.Price}}</p>
          <p class="card-text">{{Product.Quantity}}</p>
        </div>
        <img src="{{Product.ImgUrl}}" class="card-img-bottom" alt="...">
      </div>
    </div>
  </div>
</div>
