<div class="m-4 d-flex row justify-content-center align-content-start" style="height:100vw">
  <div class="card m-3" style="height: fit-content">
    <div class="card-body ">
      <h4 class=" text-center text-danger fw-bold card-title">To be removed</h4>
      <p class="card-text text-danger" style="height: fit-content">{{ newPrd | json }}</p>
      <hr>
      <p class="card-text text-danger" style="height: fit-content">{{ prodName.errors | json }}</p>
    </div>
  </div>

  <div class="card m-2" style="height: fit-content">
    <form #productForm='ngForm' class="card-body" type="submit" (ngSubmit)="AddProduct()" required>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Product Name</span>
        <input #prodName='ngModel' type="text" class="form-control" placeholder="Product's Name" aria-label="Username"
               aria-describedby="basic-addon1" name="name" [(ngModel)]="newPrd.Name" required pattern="[A-Za-z].{5,}">
        <div class="col-lg-12 col-3 alert alert-danger" [hidden]="prodName.valid || prodName.untouched">
          @if (prodName.errors?.['required']) {
            <small>Product Name is required</small>
          }
          @if (prodName.errors?.['pattern']) {
            <small>Product Name must be at least 5 characters</small>
          }
        </div>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">Category</span>
        <select #prodCat="ngModel" class="form-select" aria-label="Default select example" name="Category"
                [(ngModel)]="newPrd.CategoryID" required>
          @for (cat of catList; track $index) {
            <option value="{{cat.id}}">{{ cat.Name }}</option>
          }
        </select>
        <div class="col-lg-12 col-3 alert alert-danger" [hidden]="prodCat.valid || prodCat.untouched">
          @if (prodCat.errors?.['required']) {
            <small>Product Category is required</small>
          }
        </div>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">InStock Quantity</span>
        <input #prodQuantity='ngModel' type="number" name="quantity" class="form-control"
               aria-label="Amount (to the nearest dollar)" placeholder="Quantity" required min="0"
               [(ngModel)]="newPrd.RemainingQuantity">
        <div class="col-lg-12 col-3 alert alert-danger" [hidden]="prodQuantity.valid || prodQuantity.untouched">
          @if (prodQuantity.errors?.['required']) {
            <small>Product Quantity is required</small>
          }
          @if (prodQuantity.errors?.['min']) {
            <small>Product Quantity must be at least 0</small>
          }
        </div>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input #prodPrice='ngModel' type="number" name="price" class="form-control"
               aria-label="Amount (to the nearest dollar)" placeholder="Price" min="0" required [(ngModel)]="newPrd.Price">
        <div class="col-lg-12 col-3 alert alert-danger" [hidden]="prodPrice.valid || prodPrice.untouched">
          @if (prodPrice.errors?.['required']) {
            <small>Product Quantity is required</small>
          }
          @if (prodPrice.errors?.['min']) {
            <small>Product Quantity must be at least 0</small>
          }
        </div>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Brand</span>
        <input type="text" name="brand" class="form-control" aria-label="Amount (to the nearest dollar)"
               placeholder="Product's Brand" [(ngModel)]="newPrd.brand">
      </div>

      <div class="input-group mb-3">
        <input #prodImg='ngModel' type="file" name="image" class="form-control" placeholder="Please Select File"
               aria-label="Image"
               [(ngModel)]="newPrd.ImgUrl" required>
        <div class="col-lg-12 col-3 alert alert-danger" [hidden]="prodImg.valid || prodImg.untouched">
          @if (prodImg.errors?.['required']) {
            <small>Product Quantity is required</small>
          }
        </div>
      </div>

      <div class="input-group">
        <textarea class="form-control" aria-label="Description" placeholder="Product's Description"></textarea>
      </div>

      <div class="input-group d-flex row  justify-content-end text-center  ">
        @if(productForm.invalid) {
          <button type="submit" class="m-4 col-lg-1 col-sm-2 btn btn-lg btn-outline-secondary" disabled><p class="h5 p-0 m-0 my-1">
            Add</p></button>
        }@else{
        <button [disabled]="productForm.invalid" type="submit" class="m-4 col-lg-1 col-sm-2 btn btn-lg btn-outline-success"><p class="h5 p-0 m-0 my-1">
          Add</p></button>
        }
      </div>
    </form>
  </div>
</div>
