<div style="height: 100%">
  <section class="py-5">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-6">
          <div class="border rounded-4 mb-3 d-flex justify-content-center">
            <a class="rounded-4" target="_blank" data-type="image">
              <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit"
                   [src]="selectedProduct?.ImgUrl" alt=""/>
            </a>
          </div>
          <!--if there is more than on image fot the product-->
          <!--<div class="d-flex justify-content-center mb-3">
            <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big1.webp" class="item-thumb">
              <img width="60" height="60" class="rounded-2" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big1.webp" />
            </a>
            <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big2.webp" class="item-thumb">
              <img width="60" height="60" class="rounded-2" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big2.webp" />
            </a>
            <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big3.webp" class="item-thumb">
              <img width="60" height="60" class="rounded-2" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big3.webp" />
            </a>
            <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big4.webp" class="item-thumb">
              <img width="60" height="60" class="rounded-2" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big4.webp" />
            </a>
            <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big.webp" class="item-thumb">
              <img width="60" height="60" class="rounded-2" src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big.webp" />
            </a>
          </div>-->
          <!-- thumbs-wrap.// -->
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
              {{ selectedProduct?.Name }}
            </h4>
            <div class="d-flex flex-row my-3">
              <div class="text-warning mb-1 me-2">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span class="ms-1">
                4.5
              </span>
              </div>
              <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>155 orders</span>
              @if (selectedProduct?.RemainingQuantity == 0) {
                <span class="text-danger ms-2">Out of stock</span>
              } @else if (selectedProduct?.RemainingQuantity == 1) {
                <span class="text-warning ms-2">Last Piece in Stock</span>
              } @else {
                <span class="text-success ms-2">In stock</span>
              }

            </div>

            <div class="mb-3">
              <span class="h5">{{ selectedProduct?.Price  | currency : 'EGP' }}</span>
              <span class="text-muted">/per Item</span>
            </div>

            <h5 class="text-secondary">Description</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci assumenda blanditiis consectetur
              debitis dolore dolorum, ex illo maiores molestias nam omnis optio pariatur perferendis quibusdam quo
              reiciendis vero voluptates?
            </p>

            <div class="row">
              <dt class="col-3">Type:</dt>
              <dd class="col-9">{{ productCategory?.Name }}</dd>

              <dt class="col-3">Color</dt>
              <dd class="col-9">as shown</dd>

              <dt class="col-3">Material</dt>
              <dd class="col-9">Plastic, Metal</dd>

              <dt class="col-3">Brand</dt>
              <dd class="col-9">{{ selectedProduct?.brand }}</dd>
            </div>

            <hr/>

            <div class="row mb-4">
              <!--selector For closes size or types of the product-->
              <!--<div class="col-md-4 col-6">
                <label class="mb-2">Size</label>

                <select class="form-select border border-secondary" style="height: 35px;">
                  <option>Small</option>
                  <option>Medium</option>
                  <option>Large</option>
                </select>
              </div>-->
              <!-- col.// -->
              <div class="col-md-4 col-6 mb-3">
                <label class="mb-2 d-block">Quantity</label>
                <div class="input-group mb-3" style="width: 170px;">
                  <button class="btn btn-dark border border-secondary px-3" type="button" id="button-addon1"
                          data-mdb-ripple-color="dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-dash-lg" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8"/>
                    </svg>

                  </button>
                  @if (selectedProduct == null) {
                    <input type="text" class="form-control text-center border border-secondary" placeholder="0"
                           aria-label="Example text with button addon" aria-describedby="button-addon1"/>
                  } @else {
                    <input type="text" class="form-control text-center border border-secondary" placeholder="0"
                           aria-label="Example text with button addon" aria-describedby="button-addon1"
                           [(ngModel)]="selectedProduct.selectedQuantitiesToBuy"/>
                  }
                  <button class="text-white btn btn-dark border border-secondary px-3" type="button" id="button-addon2"
                          data-mdb-ripple-color="dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-plus-lg" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <a [routerLink]="['/Home']" class="btn btn-warning shadow-0 m-1"> Buy now </a>
            <a href="#" class="btn btn-primary shadow-0 m-1"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart
            </a>
          </div>
        </main>
      </div>
    </div>
  </section>
  <!-- content -->

  <section class="bg-light border-top py-4">
    <div class="container">
      <div class="row gx-4">
        <div class="col-lg-8 mb-4">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-Specification-tab" data-bs-toggle="tab"
                      data-bs-target="#Specification"
                      type="button" role="tab" aria-controls="nav-Specification" aria-selected="true">Specification
              </button>
              <button class="nav-link" id="nav-Warranty-info-tab" data-bs-toggle="tab" data-bs-target="#Warranty-info"
                      type="button" role="tab" aria-controls="nav-Warranty-info" aria-selected="false">Warranty info
              </button>
              <button class="nav-link" id="nav-Shipping-info-tab" data-bs-toggle="tab"
                      data-bs-target="#nav-Shipping-info"
                      type="button" role="tab" aria-controls="nav-Shipping-info" aria-selected="false">Shipping info
              </button>
              <button class="nav-link" id="nav-Seller-profile-tab" data-bs-toggle="tab"
                      data-bs-target="#nav-Seller-profile"
                      type="button" role="tab" aria-controls="nav-Seller-profile" aria-selected="false">Seller profile
              </button>
            </div>
          </nav>
          <div class="tab-content rounded-2 px-3 py-2 bg-white mb-3" id="nav-tabContent">
            <div class="tab-pane fade show active" id="Specification" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="tab-pane fade show active" id="" role="tabpanel" aria-labelledby="ex1-tab-1">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores aspernatur cupiditate
                  doloribus incidunt laboriosam quos recusandae repellendus. Animi cumque fugiat illum ipsam mollitia
                  placeat similique unde, veritatis voluptas voluptatem?
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus alias assumenda, dignissimos
                  distinctio doloremque facere id, ipsum magni nam nesciunt numquam optio porro praesentium quaerat qui
                  quia recusandae veniam.
                </p>
                <!--<div class="row mb-2">
                  <div class="col-12 col-md-6">
                    <ul class="list-unstyled mb-0">
                      <li><i class="fas fa-check text-success me-2"></i>Some great feature name here</li>
                      <li><i class="fas fa-check text-success me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                      <li><i class="fas fa-check text-success me-2"></i>Duis aute irure dolor in reprehenderit</li>
                      <li><i class="fas fa-check text-success me-2"></i>Optical heart sensor</li>
                    </ul>
                  </div>
                  <div class="col-12 col-md-6 mb-0">
                    <ul class="list-unstyled">
                      <li><i class="fas fa-check text-success me-2"></i>Easy fast and ver good</li>
                      <li><i class="fas fa-check text-success me-2"></i>Some great feature name here</li>
                      <li><i class="fas fa-check text-success me-2"></i>Modern style and design</li>
                    </ul>
                  </div>
                </div>-->
                <table class="table border mt-3 mx-1 mb-2">
                  <tr>
                    <th class="py-2">Display:</th>
                    <td class="py-2">13.3-inch LED-backlit display with IPS</td>
                  </tr>
                  <tr>
                    <th class="py-2">Processor capacity:</th>
                    <td class="py-2">2.3GHz dual-core Intel Core i5</td>
                  </tr>
                  <tr>
                    <th class="py-2">Camera quality:</th>
                    <td class="py-2">720p FaceTime HD camera</td>
                  </tr>
                  <tr>
                    <th class="py-2">Memory</th>
                    <td class="py-2">8 GB RAM or 16 GB RAM</td>
                  </tr>
                  <tr>
                    <th class="py-2">Graphics</th>
                    <td class="py-2">Intel Iris Plus Graphics 640</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="tab-pane fade" id="Warranty-info" role="tabpanel" aria-labelledby="nav-profile-tab">Lorem ipsum
              dolor sit amet, consectetur adipisicing elit. Consequatur delectus deleniti facilis ipsa maiores
              necessitatibus, nostrum optio quia sequi voluptate. Dignissimos facilis quam quo quos soluta vel veniam!
              Consequatur, fugiat?
            </div>
            <div class="tab-pane fade" id="nav-Shipping-info" role="tabpanel" aria-labelledby="nav-contact-tab">Lorem
              ipsum
              dolor sit amet, consectetur adipisicing elit. Aspernatur autem culpa cupiditate error eveniet, itaque
              libero magni, minus perspiciatis quidem repellendus ullam, velit veritatis. Assumenda esse quasi quidem
              quisquam quo?
            </div>
            <div class="tab-pane fade " id="nav-Seller-profile" role="tabpanel" aria-labelledby="nav-contact-tab">Lorem
              ipsum
              dolor sit amet, consectetur adipisicing elit. Aspernatur autem culpa cupiditate error eveniet, itaque
              libero magni, minus perspiciatis quidem repellendus ullam, velit veritatis. Assumenda esse quasi quidem
              quisquam quo?
            </div>
          </div>
        </div>
        <!--similar items panel-->
        <!--<div class="col-lg-4">
          <div class="px-0 border rounded-2 shadow-0">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Similar items</h5>
                <div class="d-flex mb-3">
                  <a href="#" class="me-3">
                    <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/8.webp"
                         style="min-width: 96px; height: 96px;" class="img-md img-thumbnail"/>
                  </a>
                  <div class="info">
                    <a href="#" class="nav-link mb-1">
                      Rucksack Backpack Large <br/>
                      Line Mounts
                    </a>
                    <strong class="text-dark"> $38.90</strong>
                  </div>
                </div>

                <div class="d-flex mb-3">
                  <a href="#" class="me-3">
                    <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/9.webp"
                         style="min-width: 96px; height: 96px;" class="img-md img-thumbnail"/>
                  </a>
                  <div class="info">
                    <a href="#" class="nav-link mb-1">
                      Summer New Men's Denim <br/>
                      Jeans Shorts
                    </a>
                    <strong class="text-dark"> $29.50</strong>
                  </div>
                </div>

                <div class="d-flex mb-3">
                  <a href="#" class="me-3">
                    <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/10.webp"
                         style="min-width: 96px; height: 96px;" class="img-md img-thumbnail"/>
                  </a>
                  <div class="info">
                    <a href="#" class="nav-link mb-1"> T-shirts with multiple colors, for men and lady </a>
                    <strong class="text-dark"> $120.00</strong>
                  </div>
                </div>

                <div class="d-flex">
                  <a href="#" class="me-3">
                    <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/11.webp"
                         style="min-width: 96px; height: 96px;" class="img-md img-thumbnail"/>
                  </a>
                  <div class="info">
                    <a href="#" class="nav-link mb-1"> Blazer Suit Dress Jacket for Men, Blue color </a>
                    <strong class="text-dark"> $339.90</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </section>
</div>
